*{
    text-align: center;
    margin: 2px;
}
table{
    width:100%;
    border: 2px double black;
    background-color: aliceblue;
    margin-left: auto; 
    margin-right: auto;

}
thead{
    background-color: aqua;
    color: azure;
    font-size: 25px;
    order: 3px black double;
    
}
h1{
    color:navy;
    font-size: 40px;
}